@font-face {
    font-family: 'ABCDiatype';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ABCDiatype-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ABCDiatype';
    font-style: bold;
    font-weight: 600;
    src: url('./fonts/ABCDiatype-Bold.woff') format('woff');
}

/* @font-face {
    font-family: 'ABCDiatype';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/ABCDiatype-RegularItalic.woff') format('woff');
}
@font-face {
    font-family: 'ABCDiatype';
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/ABCDiatype-BoldItalic.woff') format('woff');
} */

body {
    color: red;
}
